.complete {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.hide {
  z-index: 0;
  display: none;
}

.complete span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.complete p {
  padding: 10px 50px;
}

.complete button {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px 0;
}