.difficulty {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: -1;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  opacity: 0;
}

.showDifficulty {
  z-index: 10;
  opacity: 1;
}

.setDifficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.setDifficulty li button {
  font-size: 1.3em;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 15px 0;
  width: 150px;
}

@media only screen and (max-width: 480px) {
	.difficulty {
    width: 360px;
    height: 380px;
	}
}