.hangman-image {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 400px;
}

.hangman-stand {
  width: 100%;
  height: 100%;
}

.stick-head {
  width: 100px;
  height: 70px;
  position: absolute;
  top: 105px;
  left: 275px;
}

.stick-body {
  width: 90px;
  height: 120px;
  position: absolute;
  top: 147px;
  left: 280px;
}

.stick-right-arm {
  width: 60px;
  height: 90px;
  position: absolute;
  top: 140px;
  left: 315px;
}

.stick-left-arm {
  width: 60px;
  height: 90px;
  position: absolute;
  top: 140px;
  left: 275px;
}

.stick-right-leg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 85px;
  height: 80px;
  position: absolute;
  top: 238px;
  left: 305px;
}

.stick-left-leg {
  width: 85px;
  height: 80px;
  position: absolute;
  top: 238px;
  left: 260px;
}

.show-img {
  opacity: 1;
}

.hide-img {
  opacity: 0;
}