.instructions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

.showInstructions {
  opacity: 1;
  z-index: 10;
}