.instructions {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 400px;
  height: 300px;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.instructions p {
  margin: 10px 0;
}

.instructions button {
  margin: 20px 0;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.showInstructions {
  z-index: 10;
  opacity: 1;
}

@media only screen and (max-width: 480px) {
	.instructions {
    width: 360px;
    height: 280px;
	}
}